{% extends 'base.html' %}
{% block title %}Home{% endblock  %}

{% block content %}
<h2>SmartMath</h2>
<p align="justify" style="padding:40px;">SmartMath was developed as a final project of the Numerical Analysis course taught in the undergraduate course of Systems Engineering together with Mathematical Engineering course. It was created under the need to propose optimal solutions to various problems in the field of computational mathematics (among these solution of systems of equations, interpolation, etc.).</p>
<p align="justify" style="padding:40px;">For more information about this project or the methods implemented along with an in-deep explanation of their usage, please check out <a href="https://www.editey.com/file/1FcCRNq446KJqlw2OfVkaiMCSiW2LUPGJ">SmartMath User’s Manual</a></p>
{% endblock  %}