{% extends 'base.html' %}
{% block title  %}Total pivot{% endblock  %}
{% block content %}
<h2>Total pivot</h2>

    {% if form.error %}
        <p>Error al cargar información</p>
    {% endif %}

    <form action="{% url 'Total' %}" method="POST">
        {% csrf_token %}
        <table style="display:flex;justify-content: center;align-items: center;">
            {{ form.as_table }}
        </table>
        <br>
        <input type="submit" name="solve" id="solve" value="Resolver">
    </form>
        <br>

        {{res}}
{% endblock  %}